.contactInfo {
    font-size: 10px;
    display: flex;
    align-content: center;
}
.contactInfo__title {
    display: flex;
    grid-column: span;
    align-items: center;
    padding-top: 100px;
}
.contactInfo__container{
    padding: 50px;
}
.contactInfo__submitInfoButton{
    background: #a5d3ce;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
}